      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" [routerLink]="['./MainPage']">IT255</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li [class.active]="router.isRouteActive(router.generate(['/MainPage']))"><a [routerLink]="['./MainPage']">Home <span class="sr-only">(current)</span></a></li>
			      <li *ngIf="isAuth == 'no'" [class.active]="router.isRouteActive(router.generate(['/RegisterPage']))"><a [routerLink]="['./RegisterPage']">Register</a></li>  
				  <li *ngIf="isAuth == 'no'" [class.active]="router.isRouteActive(router.generate(['/LoginPage']))"><a [routerLink]="['./LoginPage']">Login</a></li>
                   <li *ngIf="isAuth == 'yes'" [class.active]="router.isRouteActive(router.generate(['/AddCategory']))"><a [routerLink]="['./AddCategory']">Add Category</a></li>
                   <li *ngIf="isAuth == 'yes'" [class.active]="router.isRouteActive(router.generate(['/AllCategories']))"><a [routerLink]="['./AllCategories']">All Categories</a></li>
                   <li *ngIf="isAuth == 'yes'" [class.active]="router.isRouteActive(router.generate(['/AddProduct']))"><a [routerLink]="['./AddProduct']">Add Product</a></li>
                   <li *ngIf="isAuth == 'yes'" [class.active]="router.isRouteActive(router.generate(['/AllProducts']))"><a [routerLink]="['./AllProducts']">All Products</a></li>
                   <li *ngIf="isAuth == 'yes'" [class.active]="router.isRouteActive(router.generate(['/AllOrders']))"><a [routerLink]="['./AllOrders']">All Orders</a></li>
				  <li *ngIf="isAuth == 'yes'" ><a (click)="onLogout()">Logout</a></li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
	  <div class="container">
		<router-outlet></router-outlet>
	  </div>